.select-doctor {
    padding: 40px;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    &__doctors-list{
        margin-top: 15px;
        display: flex;
        gap: 10px;  
    }
}

.appointment__specializations {
    
}