<section class="appointment">
    <h1 class="appointment__title base-title">Записаться к врачу</h1>
    <div class="appointment__specializations">
        @for (card of displayedCards; track card) {
            <nz-card style="width:300px;" [nzTitle]="card" (click)="selectSpecialization(card)">
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
        }
    </div>
    <div class="appointment__actions">
        @if(selected_specialization){
            <button class="base-button" routerLink="doctor">Записаться: {{selected_specialization}}</button>
        } @else {
            <button class="base-button">Записаться</button>
        }
        <nz-pagination 
            [(nzPageIndex)]="currentPage" 
            [nzTotal]="specializations.length"
            [nzPageSize]="pageSize"
            (nzPageIndexChange)="onPageChange($event)"
        ></nz-pagination>
    </div>
</section>
