<section class="past-visits">
    <h1 class="past-visits__title base-title">Предстоящие визиты</h1>
    <div class="past-visits__visits">
        @for (card of displayedCards; track card) {
            <nz-card style="width:300px;" [nzTitle]="card" (click)="selectSpecialization(card)">
                <p>Card content</p>
                <p>Card content</p>
                <p>Card content</p>
            </nz-card>
        }
        <app-visit-actions></app-visit-actions>
    </div>
    <div class="past-visits__actions">
        <nz-pagination 
            [(nzPageIndex)]="currentPage" 
            [nzTotal]="visits.length"
            [nzPageSize]="pageSize"
            (nzPageIndexChange)="onPageChange($event)"
        ></nz-pagination>
    </div>
</section>

