<section class="past-visits">
    <h1 class="past-visits__title base-title">Последние визиты</h1>
    <div class="past-visits__visits">
        @for (card of displayedCards; track card) {
            <nz-card style="width:300px; max-height: 400px;" [nzTitle]="card.date | dateFormat" class="base-card">
                <div class="card-content">
                    <div>
                        <p>{{card.date | dateFormat}}, {{card.time | timeFormat}}</p>
                        <p>{{card.cost}}</p>
                        <p>{{card.reason | textCut}}</p>
                    </div>

                    @if (card.id_conclusion) {
                        <div class="consultation-conclusion"> Заключение сделано </div>
                    }
                </div>
            </nz-card>
        }
        <app-visit-actions></app-visit-actions>
    </div>
    <div class="past-visits__actions">
        <nz-pagination 
            [(nzPageIndex)]="currentPage" 
            [nzTotal]="visits?.length"
            [nzPageSize]="pageSize"
            (nzPageIndexChange)="onPageChange($event)"
        ></nz-pagination>
    </div>
</section>

