<app-auth-header></app-auth-header>
<section class="select-date">
    <nav>
        <h1 class="base-header mb30">Выберите дату и время для записи:</h1>
    </nav>
    <div class="select-date__calendar">
        @for(day of days; track day){            
            @if(findDayData(day)){
                <nz-card 
                    style="width:200px; height: 200px;" 
                    [ngClass]="weekends.includes(day.dayOfWeek) ? 'weekend' : 'work'" 
                    [nzTitle]="day.fulldate.toString() | dateFormat" 
                    class="base-card"
                    (click)="createDateModal(day)"
                >
                    <p>{{day.dayOfWeek}}</p>
                    <p>{{day.start_time | timeFormat}} - {{day.end_time | timeFormat}}</p>
                    <!-- <div>
                        @for(timeSlot of day.time; track timeSlot){
                            <p>{{timeSlot.time}}</p>
                        }
                    </div> -->
                </nz-card>
            } @else {
                <nz-card style="width:200px; height: 200px;" [ngClass]="weekends.includes(day.dayOfWeek) ? 'weekend' : 'base'" [nzTitle]="day.fulldate.toString() | dateFormat" class="base-card">
                    <p>{{day.dayOfWeek}}</p>
                </nz-card>
            }
            
        }
    </div>
</section>
