.select-date {
    padding: 40px;

    &__calendar {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.weekend{
    background-color: lightcoral;
    cursor: default;
}

.weekend:hover{
    scale: none;
}

.base{
    background-color: lightslategray;
    cursor: default;
}

.base:hover{
    scale: none;
}

.work{
    background-color: lightgreen;
}
