:root{
    --primary_green: #82BF31;
    --light_green: rgba(#82BF31, 0.5);
    --font_color: #172945;
    font-family: Arial, Helvetica, sans-serif;
}

.base-input{
    border-radius: 3px;
    padding: 4px 8px;
    border: 1px solid rgba(#172945, 0.5);
}

.base-button{
    border-radius: 3px;
    padding: 4px 8px;
    background-color: var(--primary_green);
    color: white;
}

.base-button:hover{
    scale: 1.02;
    transition: 0.3s;
}

.base-button:not(:hover){
    scale: 1;
    transition: 0.3s;
}

.base-header{
    font-size: 24px;
    color: #172945;
}

.mb30{
    margin-bottom: 30px;
}

.base-title{
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
}

.base-subtitle{
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
}

.base-card{
    cursor: pointer;
}

.base-card:hover{
    scale: 1.02;
    transition: 0.3s;
}

.base-card:not(:hover){
    scale: 1;
    transition: 0.3s;
}

.vertical-separator{
    height: 100%;
    width: 2px;
    background-color: #172945;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align:top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
